apiVersion: v1
kind: Service
metadata:
  name: speedtest-exporter
  namespace: monitoring
  labels:
    app: speedtest-exporter
spec:
  selector:
    app: speedtest-exporter
  ports:
    - name: http
      port: 8000
      targetPort: http

