apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-blackbox-exporter
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '1'
spec:
  project: default
  source:
    chart: prometheus-blackbox-exporter
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 11.1.0
    helm:
      releaseName: prometheus-blackbox-exporter
      valuesObject:
        config:
          modules:
            http_2xx:
              prober: http
              http:
                follow_redirects: true
                preferred_ip_protocol: "ip4"
                tls_config:
                  insecure_skip_verify: true
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
