apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - sealedsecret.yaml
helmCharts:
  - name: ziti-edge-tunnel
    repo: https://openziti.io/helm-charts
    version: 1.3.0
    releaseName: ziti-edge-tunnel
    namespace: openziti
    valuesInline:
      zitiEnrollToken: "__SET_VIA_SECRET__"
      pvc:
        accessMode: ReadWriteMany
        storageClass: longhorn
        storageSize: 2Gi
patches:
  - target:
      group: apps
      version: v1
      kind: DaemonSet
      name: ziti-edge-tunnel
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/1
        value:
          name: ZITI_ENROLL_TOKEN
          valueFrom:
            secretKeyRef:
              name: ziti-edge-tunnel-enroll-jwt
              key: zitiEnrollToken
              optional: true
